<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @group.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Captain name:</strong>
  <%= @group.captain_name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @group.tel %>
</p>

<% if logged_in_group? && current_group.id == @group.id %>
	<%= link_to 'Edit', edit_group_path(@group) %> |
	<%= link_to 'Create Event',new_event_path %>
<% end %>

<dev>
	<h3><%= @event_index %></h3>
	<% if @events.count == 0 %>
		<p>開催予定のイベントはありません</p>
	<% else %>
		<p><%= @events.count %>個のイベントが計画されています</p>
		<%= render 'events/index',events: @events %>
	<% end %>
</dev>