<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>イベント名</th>
		<th>参加費用</th>
		<th>開催場所</th>
		<th>サークル名</th>
	</tr>
	<tr>
		<td><%= @event.name %></td>
		<td><%= @event.price %>円</td>
		<td><%= @event.place %></td>
		<td><%= @event.group.name %></td>
	</tr>
</table>

<% if logged_in_group? && @event.group_id == current_group.id %>
	<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>