<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>イベント名</th>
		<th>参加費用</th>
		<th>開催場所</th>
		<th>サークル名</th>
	</tr>
	<tr>
		<td><%= @event.name %></td>
		<td><%= @event.price %>円</td>
		<td><%= @event.place %></td>
		<td><%= @event.group.name %></td>
	</tr>
</table>

<% if logged_in_group? && @event.group_id == current_group.id %>
	<%= link_to 'Edit', edit_event_path(@event) %>
	<h4>参加希望者一覧</h4>
	<p id="notice"><%= notice %></p>
	<table>
		<thead>
		    <tr>
			    <th>名前</th>
			    <th>連絡先</th>
			    <th>申し込み状況</th>
			    <th colspan="3"></th>
		    </tr>
	 	</thead>

		<tbody>
			<% @event.users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td>
						<% if Entry.find_by(user_id:user.id,event_id: @event.id).accepted %>
							許可済み
						<% else %>
							<%= link_to '参加許可',accept_entries_path,method: :post %> | 
							<%= link_to '参加拒否',entry_path(Entry.find_by(user_id:user.id,event_id: @event.id)),method: :delete %>
						<% end %>
					</td>
				</tr>		
			<% end %>
	 	</tbody>
	</table> 
<% end %>

<% if logged_in_user? %>
<% @entry = Entry.find_by(user_id:current_user.id,event_id:@event.id) %> 
	<% if @entry.nil?%>
		<%= link_to '参加申し込み',event_entries_path(@event),method: :post %>
	<% elsif !@entry.accepted %>
		<p>申し込み済み</p>
	<% else %>
		<p>参加決定</p>
	<% end %>
<% end %>
