<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>イベント名</th>
		<th>参加費用</th>
		<th>開催場所</th>
		<th>サークル名</th>
		<th>受付人数</th>
	</tr>
	<tr>
		<td><%= @event.name %></td>
		<td><%= @event.price %>円</td>
		<td><%= @event.place %></td>
		<td><%= link_to @event.group.name,group_path(@event.group) %></td>
		<td><%= @event.accepted_number %></td>
	</tr>
</table>

<% if logged_in_group? && @event.group_id == current_group.id %>
	<%= link_to 'Edit', edit_event_path(@event) %>
	<h4>参加希望者一覧</h4>
	<%= @users.count %>人のユーザーが参加希望。
	<p id="notice"><%= notice %></p>
	<table>
		<thead>
		    <tr>
			    <th>名前</th>
			    <th>連絡先</th>
			    <th colspan="4"></th>
		    </tr>
	 	</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<!-- <td>
						<% if Entry.find_by(user_id:user.id,event_id: @event.id).accepted %>
							許可済み
						<% else %>
							<%= link_to '参加許可',accept_entries_path,method: :post %> | 
							<%= link_to '参加拒否',entry_path(Entry.find_by(user_id:user.id,event_id: @event.id)),method: :delete %>
						<% end %>
					</td> -->
				</tr>		
			<% end %>
	 	</tbody>
	</table> 
<% end %>

<% if logged_in_user? %>
<% @entry = Entry.find_by(user_id:current_user.id,event_id:@event.id) %> 
	<% if @entry.nil?%>
		<% if Entry.where(event_id:@event_id).count>@event.accepted_number %>
			<p>定員に達したため、募集は締め切りました</p>
		<% else %>
			<%= link_to '参加申し込み',event_entries_path(@event),method: :post %>
		<% end %>
	<% else %>
		<p>申し込み済み</p>
	<% end %>
<% end %>
