<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a id="logo" href='/'>Freple <%= image_tag("logo_final.png", :alt => "logo", class: 'logo_img',height: 25,width:25)%></a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ",  root_path %></li>
        <li><%= link_to "使い方",   home_help_path %></li>
        <% if (!logged_in_user?)&&(!logged_in_group?) %>
          <li>
            <a  id='for-person'>個人利用</a>
            <div id='user-toggle' class='none toggle'>
              <%= link_to "新規登録" ,new_user_path%>
              <%= link_to "ログイン" ,user_login_path%>
            </div>
          </li>
          <li>
            <a id='for-group'>団体利用</a>
            <div id='group-toggle' class='none toggle'>
              <%= link_to "団体登録" ,new_group_path%>
              <%= link_to "団体ログイン" ,group_login_path%>
            </div>
          </li>
        <% else %>
          <% if logged_in_user? %>
            <li><%= link_to "マイページ" ,user_path(current_user)%></li>
            <li><%= link_to "ログアウト" ,user_logout_path,method: :delete %></li>
          <% end %>

          <% if logged_in_group? %>
            <li><%= link_to "グループページ" ,group_path(current_group)%></li>
            <li><%= link_to "ログアウト" ,group_logout_path,method: :delete %></li>
          <% end %>          

        <% end %>
      </ul>
    </nav>
  </div>
</header>